body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;

}
* {
  box-sizing: border-box;
}
#menu
{
  background-color: #ffffff79;
}

.starter-template {
  padding: 40px 15px;
  text-align: center;
}
ul.navbar-nav { 
  float:right;
  text-align:center;
}
ul.navbar-nav li 
{
  padding: 0 10px;
}
@media only screen and (max-width:767px)
{ ul.navbar-nav { float:none; } }
.container-fluid {
  padding: 0 1em;
  border-style: groove;

}
.navbar-nav li a
{
  color:black!important;
  font-size:1.2em;
  font-family: Century gothic,sans-serif;
  font-weight:600;
  transition: 0.4s ease;
}
.navbar-nav li a:hover
{
  color:#fff!important;
  background-color:black!important;
}
.navbar-brand {
  padding:10px 15px!important;
}
a.navbar-brand .fa-globe
{
  font-size: 30px;
  color: black;
  transition:0.5s ease;
}
a.navbar-brand .fa-globe:hover
{
  color: #3935e6;
}
.navbar-inverse .navbar-toggle .icon-bar {
    background-color: black!important;
}
.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
    background-color: #fff!important;
}

.container {
  margin: 0 auto;
}
.splash {
  background:url("/static/pred_app/img/AI.gif") no-repeat fixed center bottom;
	background-size: cover;
	color: #fff;
}

.splash .container {
  padding-top: 15vh; /* No JS fallback*/
  padding-bottom: 10vh; /* No JS fallback*/
}

.profile-image {
  border-radius: 50%;
  display: block;
  max-height:250px;
  max-width: 250px;
  margin: 0 auto 1em;
  width: 100%;
  opacity: 0.85;
}

.splash h1 {
  font-size: 40px;
  margin-bottom: .15em;
  text-align: center;
}

.splash .lead, .splash .continue {
  display: inline-block;
  text-align: center;
}
h1.intro-text
{
  margin:0;
  color:#fff;
}
.splash .lead {
  font-size: 30px;
  margin-bottom: 1em;
  font-family: Rockwell;
}
.navbar-inverse
{
  border:none!important;
}
@keyframes blink
  {
            0% { opacity:1; }
            50% { opacity:0; }
            100% { opacity:1; }
  }
        @-webkit-keyframes blink
        {
            0% { opacity:1; }
            50% { opacity:0; }
            100% { opacity:1; }
        }
        @-moz-keyframes blink
        {
            0% { opacity:1; }
            50% { opacity:0; }
            100% { opacity:1; }
        }
        @-ms-keyframes blink
        {
            0% { opacity:1; }
            50% { opacity:0; }
            100% { opacity:1; }
        }
        @-o-keyframes blink
        {
            0% { opacity:1; }
            50% { opacity:0; }
            100% { opacity:1; }
        }
/* code for animated blinking cursor */
#typed-cursor
{
      opacity: 1;
      font-size: 40px;
      color: #fff;
      font-weight: 50;
      -webkit-animation: blink 1s infinite;
      -moz-animation: blink 1s infinite;
      -ms-animation: blink 1s infinite;
      -o-animation: blink 1s infinite;
      animation: blink 1s infinite;
}

.splash .continue {
  font-size: 3em;
  display:block;
}

.splash .continue a {
  border: 2px solid #fff;
  border-radius: 100%;
  color: #fff;
  display: inline-block;
  text-decoration: none;
  width: 40px;
  height:40px;
  font-size:30px;
}
.splash .continue a:hover {
  background-color: rgba(255, 255, 255, .25);
}
#about,#portfolio,#contact
{
  padding-top:4em!important;
}
section h2 {
    margin: 0;
    font-size: 3em;
}
section.success {
    color: #fff;
    background: rgb(13, 79, 136);
  padding: 2%;
}

section.success a
{
  color:black;
  transition: 0.4s ease;
}
section.success a:hover {
    outline: 0;
    color: #fff;
  border: 2px solid #fff;
}
.contact-button
{
  padding-bottom:2%;
}
hr.star-light,hr.star-portfolio {
    margin: 25px auto 30px;
    padding: 0;
    max-width: 250px;
    border: 0;
    border-top: solid 3px;
    text-align: center;
}

hr.star-light:after,hr.star-portfolio:after {
    content: "\f005";
    display: inline-block;
    position: relative;
    top: -.8em;
    padding: 0 .25em;
    font-family: FontAwesome;
    font-size: 2em;
}

hr.star-light {
    border-color: #fff;
}
hr.star-portfolio {
    border-color: black;
}
hr.star-portfolio:after {
    color: black;
    background-color: #eee;
}
hr.star-light:after {
    color: #fff;
    background-color: rgb(13, 79, 136);
}
p.content-text { font-size: 25px; }

/* PORTFOLIO */
.portfolio-card{
    box-shadow: 0px 2px 5px #888888;
    background: #eee;
    border-radius: 4px;

}

.portfolio-card:hover{
	box-shadow: 0px 10px 10px #888888;
  cursor: pointer
}

.portfolio-container-holder{
	background: #eee;
	padding-bottom: 20px;
}


.portfolio-card-holder{
	padding: 5px;
	margin-bottom: 5px;
}

.portfolio-img{
	width: 100%;
	border-radius: 4px 4px 0 0;
}

.portfolio-img-desc{
	position: relative;
	bottom: 0px;
	left: 0px;
	right: 0px;
	background: #fff;
	color: #000;
	text-align: center;
	padding: 5px;
}

/* Contact */
.contact-me-container{
	padding:3%;
background: rgb(13, 79, 136);
border-style: groove;
}
.fa-user,.fa-at,.fa-phone
{
  color:black;
}
.submit-button{
	margin-top: 10px;
	margin-bottom: 10px;
}
/* ========================
Footer
======================== */

footer {
  background-color: #2C3E50;
  color:  #fff;
  font-size: 1.5em;
  text-align: center;
  padding:3%;
}
a.tel,a.tel:hover
{
  text-decoration:none;
  color:#fff;
}
a.social-button {
	background: #fff;
	font-size: 20px;
	border-radius: 50%;
	margin: 5px;
}
.address-container{
	display: inline-block;
	margin: 0 auto;
}
a.link-facebook,a.link-twitter,a.link-codepen,a.link-linkedin,a.link-instagram
{
  transition:0.4s ease;
}
a.link-twitter
{
  color:#1DA1F2;
}
a.link-facebook
{
 color: #3b5998;
}
a.link-linkedin
{
  color:#007bb6;
}
a.link-instagram
{
  color:#e95950;
}
a.link-facebook:hover{
	background-color: #3b5998;
	color: #fff;
}

a.link-twitter:hover{
	background-color: #1DA1F2;
	color: #fff;
}

a.link-codepen:hover{
	background-color: black;
	color: #fff;
}

a.link-linkedin:hover{
	background-color: #007bb6;
	color: #fff;
}
a.link-instagram:hover{
	background-color: #e95950;
	color: #fff;
}
.btn-default {
    color: #333;
    background-color: #fff;
    border-color: transparent!important;
}
.fa-heart {
  color:#f32323;
}
h4.author
{
  letter-spacing:4px;
}
hr.footer-hr
{
  width:150px;
}
hr.copyright
{
  opacity:0.4;
}
.head{
       font-size: 36px;
  text-align: center;
  color: azure;
}
.container1
{
  background-color: #eef2f5;
  padding: 10px 10px;
  border-style: groove;
  border: 2px solid black;
  
}
.container2
{
  background-color: #1d5582;
  padding: 10px 10px;
  border-style: groove;
}
.rounded {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 114px;
  height: 99px;
  border-radius: 40%;
}
.head1 {
  text-align: center;
  color: rgb(15 23 60);
  font-weight: bold;
}

input:focus, textarea:focus, keygen:focus, select:focus {
	outline: none;
}
::-moz-placeholder {
	color: #666;
	font-weight: 300;
	opacity: 1;
}

::-webkit-input-placeholder {
	color: #666;
	font-weight: 300;
}


/* Contact Form Styling */
.container {
	margin: auto;
}
.textcenter {
	text-align: center;
}
.section1 {
	text-align: center;
	display: table;
	width: 100%;
}
.section1 .shtext {
	display: block;
	margin-top: 20px;
}
.section1 .seperator {
	border-bottom:1px solid #a2a2a2;
	width: 35px;
	display: inline-block;
	margin: 20px;
}

.section1 h1 {
	font-size: 40px;
	color: #A44DD8;
	font-weight: normal;
}

.section2 {
    width: 1200px;
    margin: 25px auto;
}
.section2 .col2 {
	width: 48.71%;
}
.section2 .col2.first {
	float: left;
}
.section2 .col2.last {
	float: right;
}
.section2 .col2.column2 {
	padding: 0 30px;
}
.section2 span.collig {
	color: #a2a2a2;
	margin-right: 10px;
	display: inline-block;
}
.section2 .sec2addr {
	display: block;
	line-height: 26px;
}
.section2 .sec2addr p:first-child {
	margin-bottom: 10px;
}
.section2 .sec2contactform input[type="text"], 
.section2 .sec2contactform input[type="email"],
.section2 .sec2contactform textarea {
    border-radius: 18px;
    background: #EDEDED;
    margin: 7px 0;
    padding: 18px;

}
.section2 .sec2contactform textarea {
	width: 100%;
	display: block;
	color: #666;
  resize:none;
}
.section2 .sec2contactform input[type="submit"] {
	padding: 15px 40px;
    color: #fff;
    border-radius: 18px;
    background: #030111;
    font-size: 16px;
    text-transform: uppercase;
    margin: 7px 0;
    cursor: pointer;
}
.section2 .sec2contactform h3 {
	font-weight: normal;
    margin: 20px 0;
    margin-top: 30px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 19px;
    color: #A44DD8;
}

/* @media querries */

@media only screen and (max-width: 1266px) {
	.section2 {
		width: 100%;
	}
}
@media only screen and (max-width: 960px) {

	.section2 .col2 {
		width: 100%;
		display: block;
	}
	.section2 .col2.first {
		margin-bottom: 10px;
	}
	.section2 .col2.column2 {
		padding: 0;
	}
	body .sec2map {
		height: 250px !important;
	}
}
@media only screen and (max-width: 768px) {
	.section2 .sec2addr {
		font-size: 14px;
	}
	.section2 .sec2contactform h3 {
		font-size: 16px;
	}
	.section2 .sec2contactform input[type="text"], .section2 .sec2contactform input[type="email"], .section2 .sec2contactform textarea {
		padding: 10px;
		margin:3px 0;
    border-radius: 10%;
	}
	.section2 .sec2contactform input[type="submit"] {
		padding: 10px 30px;
		font-size: 14px;
	}
}
@media only screen and (max-width: 420px) {
	.section1 h1 {
		font-size: 28px;
	}	
}

.loader {
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader > img {
  width: 100px;
}

.loader.hidden {
  animation: fadeOut 1s;
  animation-fill-mode: forwards;
}

@keyframes fadeOut {
  100% {
      opacity: 0;
      visibility: hidden;
  }
}

.thumb {
  height: 100px;
  border: 1px solid black;
  margin: 10px;
}